:root{
  --color-purple : purple
}

* {
  box-sizing: border-box;  
  background: var(--color-purple);
  color:rgb(255, 252, 252);
}

body {
  font-family: Arial;
  padding: 10px;
}

.header {
  padding: 30px;
  text-align: center;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  display:flex;
  justify-content: center;
  overflow: hidden;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  color: black;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  padding: 20px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

#quiz {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  text-align: center;
}

#question {
  margin-bottom: 20px;
  text-align: center;
}

#proposals {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(227, 238, 10);
  color: #131313;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8f8d8d;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}

.fa-google {
  background: #dd4b39;
}

.fa-linkedin {
  background: #007bb5;
}

.fa-youtube {
  background: #bb0000;
}

.fa-instagram {
  background: #125688;
}

.fa-pinterest {
  background: #cb2027;
}

.fa-snapchat-ghost {
  background: #fffc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
}

.fa-android {
  background: #a4c639;
}

.fa-dribbble {
  background: #ea4c89;
}

.fa-vimeo {
  background: #45bbff;
}

.fa-tumblr {
  background: #2c4762;
}

.fa-vine {
  background: #00b489;
}

.fa-foursquare {
  background: #45bbff;
}

.fa-stumbleupon {
  background: #eb4924;
}

.fa-flickr {
  background: #f40083;
}

.fa-yahoo {
  background: #430297;
}

.fa-soundcloud {
  background: #ff5500;
}

.fa-reddit {
  background: #ff5700;
}

.fa-rss {
  background: #ff6600;
}